.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.star-container {
  display: flex;
  align-items: center;
}

.active-star {
  color: orange;
  font-size: 40px;
  cursor: pointer;
}

.inactive-star {
  color: gray;
  font-size: 40px;
  cursor: default;
}